
include ../header.pug

.container
    .row
        h1(style="text-align:center") Edit #{campground.name}
        div(style="width:30%;margin:25px auto")
            form(action="/campgrounds/"+ campground._id+"?_method=PUT" method="POST")
                .form-group
                    input(class="form-control" type="text",name="campground[name]",value=campground.name)
                .form-group
                    input(class="form-control" type="number",name="campground[price]",value=campground.price min="0.01" step="0.01")
                .form-group
                    input(class="form-control" type="text",name="campground[image]",value=campground.image)
                .form-group
                    input(class="form-control" type="text",name="campground[description]",value=campground.description)
                .form-group
                    button.btn.btn-lg.btn-primary.btn-block Submit!
                a(href="/campgrounds") Go Back
include ../footer.pug