include ../header.pug
.container  
    .row
        .col-md-3
            p.lead YelpCamp
            .list-group
                li.list-group-item.active Info 1
                li.list-group-item Info 2
                li.list-group-item Info 3
        .col-md-9
            .thumbnail
                img(class="img-responsive" src=campground.image)
                .caption-full
                    h4.pull-right $#{campground.price}/night
                    h4 <a>#{campground.name}</a>
                    p #{campground.description}
                    p <em>Submitted By #{campground.author.username}</em>
                    if(currentUser && campground.author.id.equals(currentUser._id))
                        a(href="/campgrounds/"+campground._id+"/edit" class="btn btn-danger") Edit
                        form(class="delete-form" action="/campgrounds/"+ campground._id+ "?_method=DELETE", method="POST")
                            button.btn.btn-danger Delete
            .well
                .text-right
                    a(class="btn btn-success" href="/campgrounds/"+ campground._id + "/comments/new") Add New Comment
                hr
                for comment in campground.comments
                    .row
                        .col.md-12
                            p <strong>#{comment.author.username}</strong>
                            span.pull-right 10 days ago
                            p #{comment.text}
                            if(currentUser && comment.author.id.equals(currentUser._id))
                                a(class = "btn btn-xs btn-warning" href="/campgrounds/"+campground._id+"/comments/"+comment._id+"/edit") Edit
                                form(class="delete-form" action="/campgrounds/"+campground._id+"/comments/"+comment._id+"?_method=DELETE", method="POST")
                                    input(type="submit", class="btn btn-xs btn-danger" value="Delete")

    



include ../footer.pug